__pycache__/
autonomous/__pycache__/
autonomous/cone_detector/__pycache__/
autonomous/cone_detector/weights/*
data/weights/*
data/bros_logs/*
missions/__init__.py
missions/trackdrive/__init__.py
*.pkl
